body {
    background-image: url('../images/background.jpg');
}

.jumbotron {
    opacity: .90;
}

.center {
    display: block;
    margin: 0 auto;
}

#game {
    height: 400px;
}

#game img {
    height: 300px;
}
